#THIS FILE GETS OVERWRITTEN AUTOMATICALLY

Include /etc/ssh/sshd_config.d/*.conf

Port 22
Port 1337

ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding yes

PrintMotd no

Banner /etc/ssh/sshbanner

AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

